<section>
  <div>
    <p></p>
  </div>

  <div>
    <img src="" alt="">
  </div>
</section>

<section>
  <div>
    <p></p>
  </div>

  <div>
    <img src="" alt="">
  </div>
</section>

<section>
  <div>
    <p></p>
  </div>

  <div>
    <img src="" alt="">
  </div>
</section>

<section>
  <div>
    <p></p>
  </div>
  
  <div>
    <img src="" alt="">
  </div>
</section>