<section class="aboutUsSection">
  <!-- <aside> -->
    <img src="/imgs/dan.jpeg" alt="">
  <!-- </aside> -->

  <h2 class="abouth2">Daniel Frey</h2>

  <div>
    <p class="aboutUsP">Knows that you don't attempt to run up the stairs at the Philadelphia Museum of Art, and you order your steak "wit". Daniel was drawn to design from a young age when he started writing all over his older brothers' baseball cards and (what would be now) priceless comic books.</p>
  </div>

</section>

<section class="aboutUsSection">
  <aside>
    <img src="/imgs/jason.PNG" alt="">
  </aside>

  <h2 class="abouth2">Jason Hiskey</h2>
  
  <div>
    <p class="aboutUsP">Jason was born in Colorado Springs, Colorado. When he was 2 years old he moved to Washington where he spent the majority of his childhood in Monroe. While living in Monroe, he learned how to crash dirt bikes and jump off of tall objects into the water. He currently lives in the quickly growing town of Bothell. Before embarking on his coding journey, Jason was a staff geologist who worked on hundreds of construction sites in Seattle and Los Angeles. Jason likes to spend his free time working in his vegetable garden and spending way too much money buying new games on Steam. Jason enjoys most foods that exist but especially enjoys quesadillas. Jason plans on becoming a solid full stack Java Script Developer who will be able to save up enough money to one day finance and manage a food truck company called “The Quesadilla Factory”, which will cater toward fellow aficionados of quesadillas.
    </p>
  </div>

</section>

<section class="aboutUsSection">
  <aside>
    <img src="/imgs/trevor.PNG" alt="">
  </aside>

  <h2 class="abouth2">Trevor Stam</h2>
  
  <div>
    <p class="aboutUsP">After travelling through Europe playing music with a band of gypsies, doing GIS and economic research work on the side, Trevor felt compelled to build applications that actually get used rather than write reports that end up in the bottom of a drawer. He crossed a pond and a big slab of land to find himself in a canyon in Southern California with wild donkeys and libertarians with more ammunition than a rogue state. He had the urge to go to Seattle and learn more about software development, so he bought a red car from Nicaraguan evangelists near a Crips neighborhood. Trevor has a passion for maps, cooking all foods Asian, playing gypsy and jazz music and watching real football (not the American kind). And his favorite color is red.
    </p>
  </div>

</section>

<section class="aboutUsSection">
  <aside>
    <img src="/imgs/kris.PNG" alt="">
  </aside>

  <h2 class="abouth2">Kris Esvelt</h2>
  
  <div>
    <p class="aboutUsP">Kris is a new full-stack JavaScript developer who enjoys the logical nature of code (most of the time), and hopes to visit many other countries. Born and raised in Seattle, he loves eating in the international district or grabbing some Dick's. Kris came to CodeFellows in order to join this interesting and challenging field, excited with the abundant opportunity to make a big difference in the world.</p>
  </div>

</section>