<section class="aboutUsSection">
  <h2>Daniel Frey</h2>
  <div>
    <p class="aboutUsP">Knows that you don't attempt to run up the stairs at the Philadelphia Museum of Art, and you order your steak "wit". Daniel was drawn to design from a young age when he started writing all over his older brothers' baseball cards and (what would be now) priceless comic books.</p>
  </div>

  <div>
    <img src="../../public/imgs/dan.jpeg" alt="">
  </div>
</section>

<section class="aboutUsSection">
  <h2>Jason Hiskey</h2>
  <div>
    <p class="aboutUsP"></p>
  </div>

  <div>
    <img src="" alt="">
  </div>
</section>

<section class="aboutUsSection">
  <h2>Trevor Stam</h2>
  <div>
    <p class="aboutUsP"></p>
  </div>

  <div>
    <img src="" alt="">
  </div>
</section>

<section class="aboutUsSection">
  <h2>Kris Esvelt</h2>
  <div>
    <p class="aboutUsP"></p>
  </div>

  <div>
    <img src="" alt="">
  </div>
</section>