<nav>
    <input type="checkbox" id="burger" name="burger">
    <label for="burger" class="backhoe"></label>
  <ul>
    <li class="navLink"><a href="/">Home</a></li>
    <li class="navLink"><a href="/usercreation">Have/Need Dirt</a></li>
    <li class="navLink"><a href="/about">About Us</a></li>
  </ul>
</nav>