<fieldset>
  <div class="formDiv">
    <form method="POST" id="userForm" action="/usercreation/submit">
      <input name="username" id ="username" type="text" placeholder="Name" required maxlength="255"/>
      
      <div>
        <input name="siteaddress" id ="siteaddress" type="text" placeholder="Street Address" required maxlength="255"/>
        <input name="sitecity" id ="sitecity" type="text"   placeholder="City" required maxlength="255"/>
        <input name="sitezipcode" id ="sitezipcode" type="number" placeholder="ZIP Code" required max="99999"/>
      </div>

      <div>
        <input name="sitephone" id ="sitephone" type="number" placeholder="Phone Number" required max="99999999999"/> 
      </div>

      <div class="radioDiv">
        <input name="haveneed" id ="want" type="radio" value="want"/>
        <label for="want">Want Dirt</label>
      </div>

      <div class="radioDiv">
        <input name="haveneed" id ="need" type="radio" value="need"/>
        <label for="need">Need Dirt</label>
      </div>

      <div>
      <input type="submit" id="formSubmitButton" value="Submit"/>
      </div>
    </form>
  </div>
</fieldset>