<fieldset>
  <form action="POST" id="userForm">
    <input type="text" required autocomplete="off" placeholder="Name">
    <div class="addressInputs">
      <input type="text" required autocomplete="off" placeholder="Street Address">
      <input type="text" required autocomplete="off" placeholder="City">
      <input type="text" required autocomplete="off" placeholder="ZIP Code">
    </div>
    <div>
      <input type="radio" id="want">
      <label for="want">Want Dirt</label>
    </div>
    <div>
      <input type="radio" id="need">
      <label for="need">Need Dirt</label>
    </div>
    <input type="submit" id="formSubmitButton" value="Submit">
  </form>
</fieldset>