<fieldset>
  <form action="POST" id="userForm" action="/usercreation/submit">
    <input name="UserName" id ="UserName" type="text" required autocomplete="off" placeholder="Name">
    <div class="addressInputs">
      <input name="SiteAddress" id ="SiteAddress" type="text" required autocomplete="off" placeholder="Street Address">
      <input name="SiteCity" id ="SiteCity" type="text" required autocomplete="off" placeholder="City">
      <input name="SiteZipcode" id ="SiteZipcode" type="text" required autocomplete="off" placeholder="ZIP Code">
    </div>
    <div>
      <input name="wantOrNeed" id ="want" type="radio">
      <label for="want">Want Dirt</label>
    </div>
    <div>
      <input name="wantOrNeed" id ="need" type="radio">
      <label for="need">Need Dirt</label>
    </div>
    <input type="submit" id="formSubmitButton" value="Submit">
  </form>
</fieldset>