<fieldset>
  <form method="POST" id="userForm" action="/usercreation/submit">
    <input name="username" id ="username" type="text" required autocomplete="off" placeholder="Name">
    <div class="addressInputs">
      <input name="siteaddress" id ="siteaddress" type="text" required autocomplete="off" placeholder="Street Address">
      <input name="sitecity" id ="sitecity" type="text" required autocomplete="off" placeholder="City">
      <input name="sitezipcode" id ="sitezipcode" type="text" required autocomplete="off" placeholder="ZIP Code">
    </div>
    <div>
      <input name="sitephone" id ="sitephone" type="number" required autocomplete="off" placeholder="Phone Number">
    </div>
    <div>
      <input name="haveneed" id ="want" type="radio" value="want">
      <label for="want">Want Dirt</label>
    </div>
    <div>
      <input name="haveneed" id ="need" type="radio" value="need">
      <label for="need">Need Dirt</label>
    </div>
    <input type="submit" id="formSubmitButton" value="Submit">
  </form>
</fieldset>