body {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(145, 241, 121);
  font-family: 'Oswald', sans-serif;
  font-size: 1.15em;
}

header {
  background-color: rgb(124, 63, 34); 
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

p {
  margin-top: 15px;
}

img {
  width: 300px;
  float: right;
  margin-left: 10px;
}

fieldset {
  border: solid black 2px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

input {
  margin-top: 15px;
}

a, a:hover, a:active, a:visited {
  color: white;
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
}

.formDiv {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.radioDiv {
  display: inline-block;
}

.navLink {
  display: inline-block;
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.25em;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.aboutUsSection {
  border: solid black 2px;
  background-color:saddlebrown;
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
  width: 90%;
  display: table;
}
