.title {
  background-color: #0f6146;
  color: #b3a9a9;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  overflow: hidden;
  padding: .5em;
}


.title h1 {
  float: left;
  font-family: 'Anton', sans-serif;
  margin-top: 5px;
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea {
  font-family: 'Roboto', sans-serif; 
  font-size: 1em;
  margin: .5em 0;
  padding: .5em;
  width: 90%;
}

input[type="text"]:focus:invalid {
  border: 1px solid red;
  color: red;
}